/*
 * Basic
 */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
textarea {
  overflow: auto;
}
fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
}
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
}
input[type="search"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
}
input[type="file"] {
  display: block;
}
input[type="range"] {
  display: block;
  width: 100%;
  margin-left: 0px;
}

output {
  display: block;
  padding-top: 7px;
}
.uy-form input[type="color"],
.uy-form input[type="date"],
.uy-form input[type="datetime"],
.uy-form input[type="datetime-local"],
.uy-form input[type="email"],
.uy-form input[type="month"],
.uy-form input[type="password"],
.uy-form input[type="number"],
.uy-form input[type="range"],
.uy-form input[type="search"],
.uy-form input[type="tel"],
.uy-form input[type="text"],
.uy-form input[type="time"],
.uy-form input[type="url"],
.uy-form input[type="week"],
.uy-form textarea, .uy-form select{
  display: block;
  width: 100%;
  padding: 6px 12px;
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.uy-form input[type="range"]{
  padding: 12px;
}
.uy-form textarea {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: none;
}
.uy-form div {
  margin-bottom: 15px;
}

/*
 * Inline Form
 */
@media (min-width: 768px) {
  .uy-inline-form div{
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .uy-inline-form.uy-form input,
  .uy-inline-form.uy-form textarea,
  .uy-inline-form.uy-form select {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
  .uy-inline-form input[type="radio"],
  .uy-inline-form input[type="checkbox"] {
    position: relative;
    margin-left: 0;
    margin-top: 0;
  }
}
/*
 * Horizontal Form
 */
.uy-horizontal-form.uy-form input,
.uy-horizontal-form.uy-form textarea,
.uy-horizontal-form.uy-form select {
  display: inline-block;
  width: 80%;
  vertical-align: middle;
}
.uy-horizontal-form label{
  width: 18%;
  margin-right: 1%;
}
.uy-horizontal-form input[type="radio"],
.uy-horizontal-form input[type="checkbox"] {
  width: auto;
  margin-top: 0;
}
/*
 * Radius
 */
.uy-form-radious input,
.uy-form-radious select,
.uy-form-radious textarea{
	border-radius: 3px;
}
.uy-form-radious-2x input,
.uy-form-radious-2x select,
.uy-form-radious-2x textarea{
	border-radius: 5px;
}
.uy-form-radious-3x input,
.uy-form-radious-3x select,
.uy-form-radious-3x textarea{
	border-radius: 10px;
}
.uy-form-radious-round input,
.uy-form-radious-round select,
.uy-form-radious-round textarea{
	border-radius: 1000px;
}
