@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?qy64dm');
	src:url('../fonts/icomoon.eot?#iefixqy64dm') format('embedded-opentype'),
		url('../fonts/icomoon.woff?qy64dm') format('woff'),
		url('../fonts/icomoon.ttf?qy64dm') format('truetype'),
		url('../fonts/icomoon.svg?qy64dm#icomoon') format('svg');
}

.icon-user:before {
	content: "\e971";
}

.icon-key:before {
	content: "\e98d";
}

.icon-meter:before {
	content: "\e9a6";
}

.icon-flag:before {
	content: "\e9cc";
}

.icon-file-text:before {
	content: "\e922";
}

.icon-users:before {
	content: "\e972";
}

.icon-cart:before {
	content: "\e93a";
}

.icon-clipboard:before {
	content: "\e9b8";
}

.icon-truck:before {
	content: "\e9b0";
}

.icon-eye:before {
	content: "\e9ce";
}

.icon-pencil:before {
	content: "\e905";
}

.icon-share2:before {
	content: "\ea82";
}

.icon-office:before {
	content: "\e903";
}

.icon-pencil2:before {
	content: "\e906";
}

.icon-images:before {
	content: "\e90e";
}

.icon-file-empty:before {
	content: "\e924";
}

.icon-file-text2:before {
	content: "\e926";
}

.icon-paste:before {
	content: "\e92d";
}

.icon-stack:before {
	content: "\e92e";
}

.icon-price-tag:before {
	content: "\e935";
}

.icon-qrcode:before {
	content: "\e938";
}

.icon-undo:before {
	content: "\e965";
}

.icon-redo:before {
	content: "\e966";
}

.icon-user-check:before {
	content: "\e975";
}

.icon-wrench:before {
	content: "\e991";
}

.icon-cogs:before {
	content: "\e995";
}

.icon-list-numbered:before {
	content: "\e9b9";
}

.icon-list:before {
	content: "\e9ba";
}

.icon-tree:before {
	content: "\e9bc";
}

.icon-sphere:before {
	content: "\e9c9";
}

.icon-earth:before {
	content: "\e9ca";
}

.icon-plus:before {
	content: "\ea0a";
}

.icon-cross:before {
	content: "\ea0f";
}

.icon-checkmark:before {
	content: "\ea10";
}

.icon-make-group:before {
	content: "\ea58";
}

.icon-bold:before {
	content: "\ea62";
}

.icon-underline:before {
	content: "\ea63";
}

.icon-italic:before {
	content: "\ea64";
}

.icon-strikethrough:before {
	content: "\ea65";
}

.icon-pilcrow:before {
	content: "\ea73";
}

.icon-paragraph-left:before {
	content: "\ea77";
}

.icon-paragraph-center:before {
	content: "\ea78";
}

.icon-paragraph-right:before {
	content: "\ea79";
}

.icon-paragraph-justify:before {
	content: "\ea7a";
}

.icon-indent-increase:before {
	content: "\ea7b";
}

.icon-indent-decrease:before {
	content: "\ea7c";
}

.icon-link:before {
	content: "\e9cb";
}

.icon-image:before {
	content: "\e90d";
}

.icon-minus:before {
	content: "\ea0b";
}

.icon-spinner11:before {
	content: "\e984";
}

.icon-embed2:before {
	content: "\ea80";
}

.icon-google-plus2:before {
	content: "\ea89";
}

.icon-facebook2:before {
	content: "\ea8d";
}

.icon-instagram:before {
	content: "\ea90";
}

.icon-twitter2:before {
	content: "\ea92";
}

.icon-feed3:before {
	content: "\ea95";
}

.icon-linkedin:before {
	content: "\eac8";
}

.icon-vimeo2:before {
	content: "\ea9d";
}

.icon-flickr3:before {
	content: "\eaa2";
}

.icon-picassa2:before {
	content: "\eaa5";
}

.icon-wordpress2:before {
	content: "\eab7";
}

.icon-blogger2:before {
	content: "\eaba";
}

.icon-tumblr2:before {
	content: "\eabc";
}

.icon-shop:before {
	content: "\e600";
}

/*
 * Size
 */

.uy-icon-2x{
	font-size: 1.33em;
}

.uy-icon-3x{
	font-size: 2em;
}

.uy-icon-4x{
	font-size: 3em;
}

.uy-icon-5x{
	font-size: 4em;
}

.uy-icon-6x{
	font-size: 5em;
}
