/*
 * Basic Style
 */
.uy-nav-horizontal ul {
	/*background-color: #98bf21;*/
	list-style:none;
}

.uy-nav-horizontal a{
    transition: all 0.1s linear 0s, letter-spacing 0s linear 0s;
	-webkit-transition: all 0.1s linear 0s, letter-spacing 0s linear 0s;
	-moz-transition: all 0.1s linear 0s, letter-spacing 0s linear 0s;
	-ms-transition: all 0.1s linear 0s, letter-spacing 0s linear 0s;
	-o-transition: all 0.1s linear 0s, letter-spacing 0s linear 0s;
}

.uy-nav-horizontal ul a{
	font-size: 0.875em;
	font-weight: bold;
    color: #777;
    text-decoration: none;
    text-transform: uppercase;
}

.uy-nav-horizontal a:hover, .uy-nav-horizontal a:active{
    color: #ea6153;
}

.uy-nav-horizontal a:focus{
	color: #333333;
}
.uy-nav-horizontal ul ul a{
	line-height:120%;
}
